pinecone-client==5.0.1
ffmpeg-python==0.2.0
noisereduce==3.0.2
langchain==0.2.12
# langchain-community== 0.2.10
langchain_huggingface==0.0.3
ffmpeg-python==0.2.0
numpy==1.26.4
# matplotlib.pyplot
# scipy.io
pydub
torch
transformers
# json
librosa
noisereduce
soundfile
pandas
openai==1.37.2
pydantic
typing
load_dotenv
groq==0.9.0